name: R-CMD-check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, any::covr
          needs: check

      - name: Check package
        uses: r-lib/actions/check-r-package@v2

      - name: Test coverage
        run: |
          options(crayon.enabled = TRUE)
          library(covr)
          coverage <- package_coverage()
          print(coverage)
          percent_coverage <- percent_coverage(coverage)
          cat(sprintf("\nOverall coverage: %.2f%%\n", percent_coverage))
        shell: Rscript {0}

      - name: Show test failures
        if: failure()
        run: |
          find . -name 'testthat.Rout.fail' -exec cat '{}' \; || true
        shell: bash
