name: test-coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr
          needs: coverage

      - name: Test coverage
        run: |
          library(covr)
          coverage <- package_coverage()
          print(coverage)
          percent_coverage <- percent_coverage(coverage)
          cat(sprintf("\nOverall coverage: %.2f%%\n", percent_coverage))
        shell: Rscript {0}
